<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bo.capital.tec.pet.proveedor.mapper.ProveedorEspecialidadMapper">
    <sql id="baseColumns">
        id, proveedor_id, servicio_id, created_at, updated_at, deleted, version
    </sql>
    <sql id="table">petcare.proveedor_especialidad</sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="bo.capital.tec.pet.proveedor.entity.ProveedorEspecialidad">
        INSERT INTO <include refid="table"/> (proveedor_id, servicio_id)
        VALUES (#{proveedorId}, #{servicioId})
    </insert>

    <resultMap id="especialidadServicioResultMap" type="bo.capital.tec.pet.proveedor.entity.ProveedorEspecialidad">
        <id property="id" column="id"/>
        <result property="proveedorId" column="proveedor_id"/>
        <result property="servicioId" column="servicio_id"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="deleted" column="deleted"/>
        <result property="version" column="version"/>
    </resultMap>

    <select id="selectByProveedorId" resultMap="especialidadServicioResultMap">
        SELECT pe.id, pe.proveedor_id, pe.servicio_id, pe.created_at, pe.updated_at, pe.deleted, pe.version
        FROM <include refid="table"/> pe
        WHERE pe.proveedor_id = #{proveedorId} AND pe.deleted = FALSE
    </select>

    <update id="deleteByProveedorId">
        UPDATE <include refid="table"/> SET deleted = TRUE, updated_at = NOW(), version = version + 1
        WHERE proveedor_id = #{proveedorId} AND deleted = FALSE
    </update>
</mapper>
