<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bo.capital.tec.pet.modules.soporte.mapper.UsuarioMapper">

    <sql id="baseColumns">
        u.id, u.username, u.password, u.persona_id, u.activo, u.ultimo_acceso,
        u.intentos_fallidos, u.bloqueado, u.token_refresh,
        u.created_at, u.updated_at, u.deleted, u.version
    </sql>
    <sql id="table">usuario u</sql>

    <select id="findByUsername" resultType="bo.capital.tec.pet.modules.soporte.entity.Usuario">
        SELECT <include refid="baseColumns"/> FROM <include refid="table"/>
        WHERE u.username = #{username} AND u.deleted = FALSE
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="bo.capital.tec.pet.modules.soporte.entity.Usuario">
        INSERT INTO usuario (username, password, persona_id)
        VALUES (#{username}, #{password}, #{personaId})
    </insert>

    <insert id="insertUsuarioRol" useGeneratedKeys="true" keyProperty="id" parameterType="bo.capital.tec.pet.modules.soporte.entity.UsuarioRol">
        INSERT INTO usuario_rol (usuario_id, rol_id)
        VALUES (#{usuarioId}, #{rolId})
    </insert>
</mapper>
